<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }
</style>

<div ng-if="!userLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="alert alert-success" role="alert" ng-if="editSuccess">User with id {{editUserId}} updated!</div>

<div ng-if="userLoaded">
    <form name="userForm" novalidate>
        <div class="form-group">
            <label>Имя</label>
            <input class="form-control" ng-model="editThisUser.name" type="text" required>
        </div>
        <div class="form-group">
            <label>Логин</label>
            <input class="form-control" ng-model="editThisUser.username" type="text">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" ng-model="editThisUser.email" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" ng-model="editThisUser.id" type="hidden">
        </div>
        <button type="submit" class="btn btn-default" ng-click="editUser(editThisUser)" ng-disabled="userForm.$invalid">Применить правки</button>
    </form>
</div>