<div ng-if="!$ctrl.userLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="alert alert-danger" role="alert" ng-if="$ctrl.notfoundError">Пользователь не найден</div>

<uib-tabset active="activeTab">

    <uib-tab heading="Инфо" disable="$ctrl.disableControlTab">

        <h1 class="media-heading">{{$ctrl.user.username | uppercase }}</h1>
        <p>
            {{$ctrl.user.name}}</p>

    </uib-tab>

    <uib-tab heading="Операции" >

        <button class="btn btn-danger" ng-click="$ctrl.deleteUser($ctrl.user.id)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </button>
        <a class="btn btn-primary" href="#!/edit/{{$ctrl.user.id}}">
            Редактировать
        </a>

    </uib-tab>

</uib-tabset>

<div class="alert alert-success" role="alert" ng-if="$ctrl.deletionSuccess">Пока, пользователь!</div>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.deletionError">Пользователи не сдаются!</div>
