#chatWindowRed {
    min-height: 100px;
    background-color: #ff4040;
}

#chatWindowGreen {
    min-height: 100px;
    background-color: #90ee90;
}

#chatWindowBlue {
    min-height: 100px;
    background-color: #6600ff;
    color: white;
}

#column-left {
    float: left; width: 33%;
}

#column-right {
    float: right; width: 33%;
}

#column-center {
    display: inline-block; width: 34%;
}
