<div class="panel panel-default">
  <div class="panel-body">

      <div class="btn-group" role="group" ng-repeat="item in $ctrl.items">        
          <a class="btn btn-default" data-ui-sref="{{item.sref}}" data-ui-sref-active="button-highlight">{{item.filler}}</a>
      </div>

  </div>
</div>
