.row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.column {
  display: table-cell;
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
}

.inner {
  width: 50%;
  margin: 0 auto;
}

.support {
  color: red;
}