<style>
  .ng-dirty.ng-invalid {
      border-color: #FA787E;
  }

  .ng-dirty.ng-valid {
      border-color: #78FA89;
  }

</style>

<form name="vm.userForm" novalidate>
  <div class="form-group">
      <label>Name</label>
      <input class="form-control" data-ng-model="vm.newUser.name" type="text" required placeholder="John Doe" name="userName">
  </div>

  <div class="form-group">
      <label>Email</label>
      <input class="form-control" data-ng-model="vm.newUser.email" type="email" required placeholder="mail@example.com" name="userEmail">
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input class="form-control" data-ng-model="vm.newUser.phone" type="text" data-ng-pattern="/^[+]{1}[\d]{11}$/" placeholder="+71234567890" name="userPhone">
  </div>

  <button type="submit" class="btn btn-default" data-ng-click="vm.addUser(vm.newUser)" data-ng-disabled="vm.userForm.$invalid">Add
  </button>

</form>
