<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Contacts App</title>
    <link rel="stylesheet" href="../style.css">
  </head>

  <body>
    <div class="global_wrapper">
      <div class="inner">
        <div class="row">
          <h2>Create new contact</h2>
          <p><a href="http://localhost:3000" >Return to Contacts</a></p>
          <div class="formWrapper">
              <form id="createForm" action="http://localhost:3000/add_contact" method="POST" autocomplete="off">
                <p>Name:</p>
                <p><input class="textInput" id="nameInput" type="text" name="name" value="{{ fillerInfo.name }}"></p>
                <p class="support">{{ supportInfo.name }}</p>
                <p>Surname:</p>
                <p></p><input class="textInput" id="surnameInput" type="text" name="surname" value="{{ fillerInfo.surname }}"></p>
                <p class="support">{{ supportInfo.surname }}</p>
                <p>Phone:</p>
                <p><input class="textInput" id="phoneInput" type="text" name="phone" value="{{ fillerInfo.phone }}"></p>
                <p class="support">{{ supportInfo.phone }}</p>
                <p>Additional Info:</p>
                <p><input class="textInput" id="additionalInfoInput" type="text" name="additionalInfo"></p>
                <input class="submitForm" type="submit" value="Create Contact" id="submitButton">
              </form>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
