<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Contacts App</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="global_wrapper">
      <div class="inner">
        <div class="row">
          <h2>Contacts</h2>
        </div>
        <div class="row">
          <a href="add_contact">[New Contact]</a>
        </div>
        {% for contact in contactsAll.contacts %}
          <div class="row">
            <div class="column">
              <p>{{ contact.name }}</p>
              <p>{{ contact.surname }}</p>
              <p>{{ contact.phone }}</p>
              <p><a href="contact/{{ contact.contactId }}">[Details]</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
