<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Contacts App</title>
    <link rel="stylesheet" href="../style.css">
  </head>

  <body>
    <div class="global_wrapper">
      <div class="inner">
        <div class="row">
          <h2>Contact Details</h2>
        </div>

        {% for contact in contactOne.contacts %}
          <div class="row">
            <div class="column">
              <p>{{ contact.name }}</p>
              <p>{{ contact.surname }}</p>
              <p>{{ contact.phone }}</p>
              <p>{{ contact.additionalInfo }}</p>
              <p><a href="../delete/{{ contact.contactId }}" onclick="return confirm('Are you sure you want to delete this contact?');">[Delete Contact]</a></p>
            </div>
          </div>
        {% endfor %}
        <div class="row">
            <p><a href="http://localhost:3000" >Return to Contacts</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
