<div class="row">
    <div class="col-md-8">
        <div ng-if="!usersLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading Users...
        </div>
        <div ng-if="usersLoaded">
            <div class="list-group">
                <a href="#!/users/{{singleUser.id }}" class="list-group-item" ng-repeat="singleUser in users">

                    <h4>
                        {{singleUser.username | uppercase }}
                    </h4>

                    <p>
                        {{singleUser.name }}
                    </p>

                </a>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div ng-if="!postsLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading Posts...
        </div>
        <div ng-if="postsLoaded">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="singlePost in posts">

                    <p>
                        {{singlePost.title }}
                    </p>

                    </a>
                </div>

            </div>
        </div>
    </div>