Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
    <option value="-weight">Весу (в порядке убывания)</option>
</select>
<br><br>
Фильтрация по типу:
<select ng-model="myTypeFilter">
    <option selected value="none">none</option>
    <option ng-repeat="pokemon in pokemons" value="{{pokemon.type[0]}}">{{pokemon.type[0]}}</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | filter: applyTypeFilter | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="alertPokeName(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="{'redText': pokemon.type[0] === 'fire', 'blueText': pokemon.type[0] === 'water', 'greenText': pokemon.type[0] === 'grass'}">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>