#wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#chatWindow {
    min-height: 100px;
    background-color: yellow;
}
